:root {
    --orange-color: #fd7e14

  }

  *{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

.orange-color-bg {
    background-color: var(--orange-color);
}

.orange {
    color: var(--orange-color) !important;
}

footer{
    height: 200px;
}
.card{
    
    transition: all 150ms;
}
.card:hover{
    box-shadow: 0px 58px 68px 2px rgba(240,144,0,0.35) !important;
}

.background-image{
    background-image: url("../img/background.png");
    background-size: cover;
    
}

.bg-claro{
    background: rgb(167,167,167);
background: linear-gradient(90deg, rgb(114, 114, 114) 0%, rgb(172, 172, 172) 66%, rgba(185,181,181,1) 97%);
}

.text-shadow {
    text-shadow: 1px 3px 9px rgba(0,0,0,0.27);
}

#carouselExample .carousel-item img {
  height: 90vh;          /* 70% de la altura visible */
  object-fit: cover;
  object-position: 50%;
}

#carouselExample {
    width: 100%;
}

.container-carrousel {
    margin: 0px;
    padding: 0px;
}

.btn-naranja {
    background-color: #fd7e14;
    color: white;
}

.btn-naranja:hover {
    background-color: #e96f0b;
    color: white;
}

@media (max-width: 1200px) {
    
    .cards-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        max-width:max-content
    }
    .quienes-somos-text{
        text-align: center;
        font-size: 1.3rem;
        
    }
    .quienes-somos-content {
        flex-wrap: wrap;
    }
    .quienes-somos-text {

    }
    .quienes-somos-img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


  }
  

@media (max-width: 446px) {
   .quienes-somos-text{
        text-align: center;
        font-size: 1rem;
        
    }

    
}

@media (max-width: 576px) {
  #carouselExample .carousel-item img {
      height: 40vh;
      object-fit: cover;
  }
}

@media (min-width: 1200px) {
    .quienes-somos-text{
        text-align: left;
        font-size: 1.6rem;
    }

}


